# Estos son los ejercicios propuestos

 Cada uno realizará un `fork` de el repositorio mostrado en clase en su github, y crearán cada uno un `branch` con el nombre `est-#` donde `#` corresponderá a el número asignado en clase. Dependiendo de el número asignado en clase, cada uno irá a la casilla con el número correspondiente y ejecutará algún código de su interés, por ejemplo graficar alguna función, desarrollar la serie de fibonacci, imprimir algunos números, etc. Todos deberán **únicamente llenar la casilla que le corresponde**, para de esta manera poder evitar errores.

In [1]:
# 1

In [2]:
# 2

In [ ]:
# 3

In [ ]:
# 4

In [ ]:
# 5

In [ ]:
# 6

In [ ]:
# 7

In [ ]:
# 8

In [ ]:
# 9

In [ ]:
# 10

In [ ]:
# 11

In [ ]:
# 12

In [ ]:
# 13

In [ ]:
# 14

In [ ]:
# 15

In [ ]:
# 16

In [ ]:
# 17

In [2]:
# 18
import pandas as pd
import pandas_datareader.data as web
TSLA= web.DataReader(name='TSLA', data_source='yahoo', start='2011-01-01', end='2015-12-31')
TSLA.head()

                 High        Low   Open      Close   Volume  Adj Close
Date
2011-01-03  27.000000  25.900000  26.84  26.620001  1283000  26.620001
2011-01-04  26.950001  26.020000  26.66  26.670000  1187400  26.670000
2011-01-05  26.900000  26.190001  26.48  26.830000  1446700  26.830000
2011-01-06  28.000000  26.809999  26.83  27.879999  2061200  27.879999
2011-01-07  28.580000  27.900000  28.00  28.240000  2247900  28.240000

In [ ]:
# 19

In [ ]:
# 20

In [ ]:
# 21

In [ ]:
# 22

In [ ]:
# 23

In [ ]:
# 24

In [ ]:
# 25

In [ ]:
# 26

In [ ]:
# 27

In [ ]:
# 28

In [ ]:
# 29

In [ ]:
# 30

In [ ]:
# 31

In [ ]:
# 32